/* General body styling */
body {
    font-family: 'Quicksand', sans-serif; /* Use a nicer font */
    background-image: url('img/background.jpg'); /* Add your background image here */
    background-size: cover; /* Make sure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Title styling */
.large-bold {
    font-size: 50px; /* Increased font size for emphasis */
    font-weight: bold; /* Make the title bold */
    color: white; /* Dark color for contrast */
    margin-bottom: 50px; /* Space below the title */
    text-align: center; /* Center the text */
}

/* Main section with buttons */

.main-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Raise buttons */
    position: relative;
    margin-top: 20px; /* Adjust as needed */
}
.main-section input[type=button]:hover {
    background-color: #444;
}


.review-section {
    margin-top: 50px;
    text-align: center;

}
/* Review Button Styling */
.review-button-wrapper {

    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Add space between the buttons and review button */
}


.review-button {
    width: 300px;
    height: 100px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.review-button:hover {
    background-color: #c0392b;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.emoji-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.emoji {
    font-size: 48px;
    background: none;
    border: none;
    cursor: pointer;
}

.emoji:hover {
    transform: scale(1.2);
}


